{% extends 'base.html' %}
{% import 'macros.html' as macro %}
<!-- Styles block -->


{% block content %}
<div class="container-fluid">
<div class="row">
    <div class="col-md-2"></div>
    {% for blog in blog %}
    <div class="jumbotron col-md-8">
        <p>{{blog.Blog_post}}</p>
        <p>{{blog.date_posted.strftime('%D %m %y')}}</p>
        <a href="/blog/new/comment/{{blog.id}}/view"><button class="btn btn-outline-warning btn-sm" style="color:white;" >view comments</a></button>
   <hr>
   <a href="/blog/new/comment/{{blog.id}}"> <button class="btn btn-outline-warning btn-sm"  style="color:white;">Add Comment</a></button>
    </div>
    <div class="col-md-2"></div>
    {% endfor %}
</div>


<div class="row">
        <div class="col-md-2"></div>
        {% for blogone in blogone %}
        <div class="jumbotron col-md-8">
            <p>{{blogone.Blog_post}}</p>
            <p>{{blogone.date_posted.strftime('%D %m %y')}}</p>
            <a href="/blog/new/comment/{{blogone.id}}/view"><button class="btn btn-outline-warning btn-sm" style="color:white;" >view comments</a></button>
   <hr>{{blog.id}}
   <a href="/blog/new/comment/{{blogone.id}}"> <button class="btn btn-outline-warning btn-sm"  style="color:white;">Add Comment</a></button>
        </div>
        <div class="col-md-2"></div>
        {% endfor %}
</div>
</div>
{% endblock %}
